<div id="Marquee" class="carousel slide">
	<ul class="carousel-inner unstyled">
	<% @homepage_hero_items.each do |homepage_hero_item| %>
		<% if homepage_hero_item.position == 0 %>
		<li class="active item">
		<% else %>
		<li class="item">
		<% end %>
			<%= image_fu homepage_hero_item.hero_image,"1170x520#"  %>
		</li>
	<% end %>
	</ul>
</div>
<%- if @featured_projects.present? -%>
<div class="featured-projects">
	<h2>Featured Projects</h2>
	<ul class="unstyled projects clearfix">
		<% @featured_projects.each do |project| %>
		<li id="<%= dom_id(project) %>" class="project span4">
		    <% if project.cover_image.present? %>
		      <div class="image">
		        <%= link_to refinery.projects_project_path(project) do %>
					<%= image_fu project.cover_image, 
		              "725x366#",
		              {:title => project.title} %>
				<% end %>
		      </div>
		    <% end %>
		  <div class="details">
	        <h3><%= link_to project.title, refinery.projects_project_path(project) %></h3>
	        <p><%= raw project.teaser %></p>
	      </div>
		</li>
		<% end %>
	 </ul>
</div>
<%- end -%>
<!-- <%= render '/refinery/content_page' %> -->